* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}


nav {
	padding: 10px;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
nav li {
	display: inline;
	margin: 0 55px;
	bottom: 400;  
}
nav a {
	color: black;
	font-size:18px;
	text-decoration:none;
	position: relative; 
	
	font-family: Unna Bold;
}
nav a:hover {
	color: white;
}
/* footer container */ 

.color-box9 {
	float:left; 
	background-color:black;  
	padding:6%;
	font-family: Unna Bold;
    font-size: 1rem;
    letter-spacing: 0.1em;
    word-spacing: 0em;
    line-height: 0.52em;
    color: white;
    text-transform: none;
    font-weight: normal;
	position: absolute; 
	width: 2000px; 
	bottom: -1990; 
}

.logofooter {
	right: 450; 
	position: absolute; 
	bottom: -1990; 
}

.color-box10 {
	right: 50; 
	position: absolute; 
	bottom: -1925; 
	color: white; 
	font-family: Unna Bold;
    font-size: 1rem;
    letter-spacing: 0.1em;
    word-spacing: 0em;
    line-height: 0.52em;
	color: white;
    text-transform: none;
    font-weight: normal;
}

/* footer container */ 

.color-box {
	float:left; 
	background-color:#F8F8FF;  
	padding:0%;
	position: absolute; 
	width: 1800px;
	height: 300px; 
	border: 0; 
	color: white; 
	right: .8; 
	
}

header{
display:flex;
height:100px;
padding:20px 50px 10px 75px;
align-items:flex-end;
font-family:Arial;
}

.logo{
	left: 340; 
	position: absolute; 
	bottom: 340; 

}


@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
body{
  overflow-x: hidden;
  overflow-y: scroll;
}